* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;
    font-family: sans-serif;
}
.container {
    width: 40%;
    background: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 7px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
.line {
    width: 100px;
    margin: 0 auto;
    border-bottom: 2px solid #089ff7;
    margin-bottom: 30px;
}

h2 {
    font-size: 67px;
   
}
#passwordView {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
    padding: 20px;
}

input {
    padding: 15px;
    font-size: 30px;
    outline: none;
    border:3px solid #089ff7;
    background: #faf9f9;
    border-radius: 10px;
    color: #0495e8;
}
::placeholder {
    font-size: 20px;
    padding-top: 10px;
}
.bomb {
    display: flex;
    align-items: center;
}
button {
    padding: 18px;
    border:none;
    font-size:30px;
    font-weight: bold;
    cursor: pointer;
    background: #089ff7;
    border-radius: 10px;
}
span {
    color: #0495e8;
}
label {
    font-size: 25px;
    color: red;
    font-weight: bold;
}
#lostView {
    background: #089ff7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
#lostView button{
    background: #f0b23e;
}
#lostView h1 {
    font-size: 80px;
}
#wonView {
    background: #089ff7;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
#wonView button{
    background: #f0b23e;
}
#wonView h1 {
    font-size: 80px;
}